
auth_enabled: false

server:
  http_listen_port: 3100

common:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /loki

schema_config:
  configs:
  - from: 2023-12-01
    store: tsdb
    object_store: filesystem
    schema: v12
    index:
      prefix: index_
      period: 24h
